@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation-bar {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  gap: 1.5rem;
}

.menu-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #fec600;
}

.nav-links {
  list-style-type: none;
  display: none;
  margin-left: 3rem;
}

@media (min-width: 768px) {
  .nav-links {
    gap: 5rem;
  }
}

@media (min-width: 640px) {
  .nav-links {
    gap: 3rem;
    display: flex;
  }
}

.nav-link {
  cursor: pointer;
  font-weight: 600;
}

.nav-link:hover {
  color: #fec600;
}

.btn-login {
  background-color: #fec600;
  color: #fff;
  padding: 0.5rem 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 12rem;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border: none;
  cursor: pointer;
}

.avatar-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.login-text {
  font-weight: 600;
}

.home {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  background: url("images/bg.png") right bottom / cover;
  object-fit: cover;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .home {
    flex-direction: column;
    gap: 4rem;
  }
}

.home__carousel {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 6rem;
  width: 60%;
}

@media (max-width: 1024px) {
  .home__carousel {
    padding-left: 2rem;
  }
}

.home__carousel h3 {
  letter-spacing: 0.4em;
  font-weight: 600;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: #fec600;
  width: 18rem;
}

.home__carousel .heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #2c3844;
}

.heading-primary.yellow {
  color: #fec600;
}

.home__carousel p {
  opacity: 0.7;
  color: rgb(95, 95, 95);
  letter-spacing: 0.025em;
  margin-top: 0.5rem;
  width: 38rem;
}

@media screen and (max-width: 1024px) {
  .home__carousel {
    width: 100%;
  }
  .home__carousel p {
    width: 100%;
  }
}

.btn-arrow {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  gap: 0.75rem;
  display: flex;
  justify-content: center;
  width: 12rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  background-color: #fec600;
  align-items: center;
}

.arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.home__share-icons {
  top: calc(50% - 4rem);
  position: absolute;
  left: 0;
}

.share-line {
  height: auto;
  position: relative;
  right: 0.5rem;
  width: 3.5rem;
  vertical-align: middle;
}

.share-icons__icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 3rem;
  background-color: #2c3844;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 1.5rem 0.75rem;
  color: white;
}

.share-icons__icons-icon {
  color: white;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .home__share-icons {
    display: none;
  }
}

.schedule-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .schedule-box {
    align-items: center;
  }
}

.schedule-formBox {
  display: flex;
  width: auto;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 18rem;
  background-color: #2c3844;
}

@media screen and (max-width: 768px) {
  .schedule-formBox {
    width: 400px;
  }
}

.schedule-formBox h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  line-height: 2.25rem;
}

.schedule-formBox p{
  color: #fec600;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .schedule-formBox h2 {
    font-size: auto;
    line-height: auto;
  }

  .schedule-formBox p{
    font-size: auto;
    line-height: auto;
  }
}


.schedule-box form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 2rem;
  width: 100%;
}

@media screen and (max-width: 640px){
  .schedule-box form{
    padding: auto 2rem;
  }
}

.schedule-box form .form-control{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* width: ; */

}

.schedule-box form .dateCourse{
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.schedule-box form .dateCourse .form-control {
  display: flex;
  width: 9rem;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
}

.schedule-box form .form-control label{
  padding: auto 0.25rem;
}

.schedule-box form .form-control input{
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: black;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  width: 100%;
  height: 2rem;
  border: none;
}

.form-control input:hover{
  background-color: rgb(250, 244, 244);
}

.schedule-box form .form-buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.5rem;
  align-items: center;
}

form .form-buttons button.btn-arrow-enroll{
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  gap: 0.5rem;
  font-weight: 600;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fec600;
  cursor: pointer;
}

form .form-buttons button.btn-arrow-know{
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  gap: 0.5rem;
  font-weight: 600;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
}




@media screen and (max-width: 1300px) {
  .home{
      flex-direction: column;
  }
  .schedule-box{
      align-items: center;
  }
}